<%- css('css/resume-style') %>
<article class="container-resume">
  <% var profile = config.about; %>

  <!--BEGIN STICKER-->
  <div id="sticker"></div>
  <!--END STICKER-->

  <!--BEGIN WRAPPER-->
  <div id="wrapper">

    <!--INTRODUCE NAME-->
    <h2 id="titleName" class="sectionHead">作者简介</h2>

    <!--BASE INFORMATION-->
    <div id="bio">
      <h2><%= profile.intro.title %></h2>

      <!--BASE INFORMATION - PERSONAL INFORMATION-->
      <p>
        <% for (const item of profile.intro.description){ %>
        <%= item; %>
        <% } %>
      </p>
      <!--END PERSONAL INFORMATION-->
    </div>
    <!--END BASE INFORMATION-->

    <div class="clear"></div>

    <!--SKILLS TITLE-->
    <h2 id="tools" class="sectionHead">专业技能</h2>
    <!--SKILLS-->
    <ul id="skills">
      <!--Notice: the class names indicate the % of your skills. i.e. s70 = 70%, s40 = 40% etc. -->
      <% let index = 1; %>
      <% for (const name in profile.skills){ %>
      <li id="skill<%- index %>" class="s<%- profile.skills[name] %>"><span><%- name %></span></li>
      <% index++; %>
      <% } %>
    </ul>
    <!--END SKILLS-->

    <div class="clear"></div>

    <!--EXPERIENCE TITLE-->
    <h2 id="clock" class="sectionHead">工作经验</h2>
    <!--EXPERIENCE-->
    <ul id="jobs">
      <% for (const item of profile.works){ %>
      <li>
        <div class="details">
          <h3><%- item.company %></h3>
          <h4><%- item.title %></h4>
          <h5><%- item.time %></h5>
        </div>
        <div class="details-list">
          <ul>
            <% for (const content of item.details){ %>
            <li><%- content %></li>
            <% } %>
          </ul>
        </div>
      </li>
      <% } %>
    </ul>
    <!--END EXPERIENCE-->

    <div class="clear"></div>

    <!--AS SEEN ON TITLE-->
    <h2 id="eye" class="sectionHead">项目经验</h2>
    <!--PROJECT-->
    <ul id="project">
      <% for (const item of profile.projects){ %>
      <li>
        <div class="details">
          <h3><%- item.name %></h3>
          <h4><%- item.tag %></h4>
          <h5><%- item.time %></h5>
        </div>
        <P><%- item.description %></P>
      </li>
      <% } %>
    </ul>
    <!--END PROJECT-->

    <div class="clear"></div>

    <!--RECOMMENDATIONS TITLE-->
    <h2 id="chat" class="sectionHead">开源项目</h2>
    <!--RECOMMENDATIONS-->
    <ul id="recommends">
      <% for (const index in profile.openprojects){ %>
        <li>
          <h3><a href="<%- profile.openprojects[index].link %>" target="_blank"><i class="icon icon-link" ></i><%- profile.openprojects[index].name %></a></h3>
        </li>
        <li>
          <div class="details">
            <img class="logo-project" src="<%- url_for('images/resume/project' + index + '.png') %>" alt="">
          </div>
          <P><%- profile.openprojects[index].description %></P>
        </li>
      <% } %>
    </ul>
    <!--END RECOMMENDATIONS-->

    <div class="clear"></div>

    <!--EDUCATION TITLE-->
    <h2 id="learn" class="sectionHead">教育背景</h2>
    <!--EDUCATION-->
    <ul id="schools">
      <% for (const item of profile.educations){ %>
        <li>
          <div class="details">
            <h3><%- item.name %></h3>
            <h4><%- item.degree + ' - ' + item.major %></h4>
            <h5><%- item.time %></h5>
          </div>
          <div class="details-list">
            <ul>
              <% for (const detail of item.details){ %>
              <li><%- detail %></li>
              <% } %>
            </ul>
          </div>
        </li>
      <% } %>
    </ul>
    <!--END EDUCATION-->

    <div class="clear"></div>

    <!--HONORS / AWARDS TITLE-->
    <!-- <h2 id="ribbon" class="sectionHead">荣誉 &amp; 奖励</h2> -->

    <!--HONORS / AWARDS-->
    <!-- <ul id="honorsAwards">
      <li>第四届“华为杯”全国大学生智能设计竞赛 三等奖</li>
    </ul> -->
    <!-- END HONORS / AWARDS -->

  </div>
  <!--END WRAPPER-->
</article>